{% extends "admin/base.html" %}

{% block footer %}
    {{ block.super }}
    <div style="text-align: center; padding: 20px; background-color: rgb(43, 174, 210); border-top: 1px solid #ddd;">
        <p style="margin: 0; color: #333333;">
            &copy; 2024 My Customized Admin Interface is visible. All rights reserved.
        </p>
        <p style="margin: 5px 0; font-size: 0.9em; color: #666;">
            Powered by Django | <a href="https://www.djangoproject.com/" target="_blank" style="color: #007bff; text-decoration: none;">Django Project</a>
        </p>
    </div>
{% endblock %}
